# Accessing Data Virtualization using REST API

You can find more information about this service at: https://www.ibm.com/support/producthub/db2/docs/content/SSEPGG_11.5.0/com.ibm.db2.luw.admin.rest.doc/doc/c_rest.html.

If you are running this notebook from a browser running inside the Cloud Pak for Data cluster, click: http://10.1.1.12:50050/docs

If you are running this from a browser from your own desktop, check your welcome note for the address of the Db2 RESTful Service at port 50050.

## Import the required programming libraries
The requests library is the minimum required by Python to construct RESTful service calls. The Pandas library is used to format and manipulate JSON result sets as tables.

In [2]:
import requests
import pandas as pd

## Create the Header File required for getting an authetication token
The RESTful call to the Db2 RESTful Endpoint service is contructed and transmitted as JSON. The first part of the JSON structure is the headers that define the content tyoe of the request.

In [3]:
headers = {
  "content-type": "application/json"
}

## REST API Service Host
The next part defines where the request is sent to. It provides the location of the RESTful service for our calls.

In [4]:
Db2RESTful = "http://10.1.1.12:50050"

## REST API Authentication Service
Each REST API service has its own path. For authentication we need to point to the `v1/auth` service.

In [5]:
API_Auth = "/v1/auth"

## REST API Authentication Parameters
To authenticate to the RESTful service you must provide the connection information for the **Data Virtualization** service along with the userid and password that you are using to authenticate with. 

You can also provide an expiry time so that the access token that gets returned will be invalidated after that time period.

In [6]:
body = {
  "dbParms": {
    "dbHost": "10.1.1.1",
    "dbName": "bigsql",
    "dbPort": 32601,
    "isSSLConnection": False,
    "username": "admin",
    "password": "password"
  },
  "expiryTime": "300m"
}

## REST API Authentication Call
Next we execute a REST API call to the authentication service.

In [7]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_Auth), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

A response code of 200 means that the authentication worked properly, otherwise the error that was generated is printed.

In [8]:
print(response)

<Response [200]>

The response includes a connection token that is reused throughout the rest of this lab. It ensures secure a connection without requiring that you reenter a userid and password with each request.

In [9]:
if (response.status_code == 200):
  token = response.json()["token"]
  print("Token: {}".format(token))
else: 
  print(response.json()["errors"])

Token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiY2xpZW50X2lkIjoiNzY0Y2NmYzAtMThkYS00NTAwLWEwYmItNzVkZTU0YzYwY2ZmIiwiZXhwIjoxNjM3ODcyODMxLCJpc3MiOiJhZG1pbiJ9.o3v_lQahZ5A8n7hORY2VpcPgBPaVGy2xVpAQEpwKWQdXYubLnG-3IAEwGeOlbUA_8B5h5IXORPoxWQvNJZRFocxc_eqKHrBiiUtni-nD6kfZtttojN4Ayg5jfBbSedf_m4rkK4dlLzIOg1GcUUH4mj5BxnQjri_hXtwGZ1z-uLUJYDWyI_YDhwn8Dg0SzNJTATsJTRNrqLK-AL8cjyQDlbjThihJJ0-20YqTHn46QEmu77OgGXeRJWCzw0ymjhqDD-h2AV4UxpH1t6yF3CCNaeylz0xPhRG2rTYftKwer-YWj-B-egg9dtFRIqea7JiZkMg21NitDLqf1JlQlKYlfw

## Reusing the token in the standard header
The standard header for all subsequent calls will use this format. It includes the access token.

In [10]:
headers = {
  "authorization": f"{token}",
  "content-type": "application/json"
}

## Executing an SQL Statement
Executing SQL requires a different service endpoint. In this case we will use "/services/execsql"

In [11]:
API_execsql = "/v1/services/execsql"

In this example, we select data from a virtual view. The view definition is based on a table STOCK_TRANSACTIONS located in **POSTGRES** and a table STOCK_SYMBOLS located in **Db2**.

In [12]:
body = {
  "isQuery": True,
  "sqlStatement": "SELECT * FROM VIEWS.STOCKTRANS FETCH FIRST 10 ROWS ONLY",
  "sync": True
}

In [13]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_execsql), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [14]:
print(response)
print(response.json())

<Response [200]>
{'jobStatus': 4, 'jobStatusDescription': 'Job is complete', 'resultSet': [{'CUSTID': 104240, 'PRICE': 83.25, 'QUANTITY': -8, 'SYMBOL': 'XOM', 'TX_DATE': '2017-12-18', 'TX_NO': 1, 'company': 'Exxon Mobil Corporation'}, {'CUSTID': 109788, 'PRICE': 64.97, 'QUANTITY': 29, 'SYMBOL': 'NKE', 'TX_DATE': '2017-12-18', 'TX_NO': 2, 'company': 'NIKE Inc.'}, {'CUSTID': 107145, 'PRICE': 223.32, 'QUANTITY': 8, 'SYMBOL': 'UNH', 'TX_DATE': '2017-12-18', 'TX_NO': 3, 'company': 'UnitedHealth Group Incorporated'}, {'CUSTID': 106644, 'PRICE': 142.67, 'QUANTITY': -32, 'SYMBOL': 'JNJ', 'TX_DATE': '2017-12-18', 'TX_NO': 4, 'company': 'Johnson & Johnson'}, {'CUSTID': 105298, 'PRICE': 46.06, 'QUANTITY': 3, 'SYMBOL': 'KO', 'TX_DATE': '2017-12-18', 'TX_NO': 5, 'company': 'The Coca-Cola Company'}, {'CUSTID': 109354, 'PRICE': 106.5, 'QUANTITY': -7, 'SYMBOL': 'JPM', 'TX_DATE': '2017-12-18', 'TX_NO': 6, 'company': 'JPMorgan Chase & Co.'}, {'CUSTID': 105833, 'PRICE': 46.26, 'QUANTITY': 52, 'SYMBOL': 'KO', 'TX_DATE': '2017-12-18', 'TX_NO': 7, 'company': 'The Coca-Cola Company'}, {'CUSTID': 103669, 'PRICE': 92.81, 'QUANTITY': 65, 'SYMBOL': 'PG', 'TX_DATE': '2017-12-18', 'TX_NO': 8, 'company': 'The Procter & Gamble Company'}, {'CUSTID': 106129, 'PRICE': 64.7, 'QUANTITY': -42, 'SYMBOL': 'NKE', 'TX_DATE': '2017-12-18', 'TX_NO': 9, 'company': 'NIKE Inc.'}, {'CUSTID': 105952, 'PRICE': 92.98, 'QUANTITY': 60, 'SYMBOL': 'PG', 'TX_DATE': '2017-12-18', 'TX_NO': 10, 'company': 'The Procter & Gamble Company'}], 'rowCount': 10}

Retrieve the results. The Dataframe class converts the json result set into a table. Dataframes can be used to further manipulate results in Python.

In [15]:
display(pd.DataFrame(response.json()['resultSet']))

,CUSTID,PRICE,QUANTITY,SYMBOL,TX_DATE,TX_NO,company
0,104240,83.25,-8,XOM,2017-12-18,1,Exxon Mobil Corporation
1,109788,64.97,29,NKE,2017-12-18,2,NIKE Inc.
2,107145,223.32,8,UNH,2017-12-18,3,UnitedHealth Group Incorporated
3,106644,142.67,-32,JNJ,2017-12-18,4,Johnson & Johnson
4,105298,46.06,3,KO,2017-12-18,5,The Coca-Cola Company
5,109354,106.50,-7,JPM,2017-12-18,6,JPMorgan Chase & Co.
6,105833,46.26,52,KO,2017-12-18,7,The Coca-Cola Company
7,103669,92.81,65,PG,2017-12-18,8,The Procter & Gamble Company
8,106129,64.70,-42,NKE,2017-12-18,9,NIKE Inc.
9,105952,92.98,60,PG,2017-12-18,10,The Procter & Gamble Company

### Setup the ENDPoint Services Catalog

In [16]:
API_makerest = "/v1/metadata/setup"

In [17]:
body = {
  "schema": "DB2REST"
}

In [18]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_makerest), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [19]:
if (response.status_code == 201):
  print(response.reason)
else:
  print(response.json())

Created

## Create a Unique RESTful Service
The most common way of interacting with the service is to fully encapsulate an SQL statement, including any parameters, in a unique RESTful service. This creates a secure separation between the database service and the RESTful programming service. It also allows you to create versions of the same service to make maintenance and evolution of programming models simple and predictable.

In [ ]:
API_makerest = "/v1/services"

Define the SQL that we want in the RESTful call.

In [ ]:
body = {"isQuery": True,
       "parameters": [
         {
         "datatype": "VARCHAR(4)",
         "name": "@SYMBOL"
         }
       ],
       "schema": "STOCK",
       "serviceDescription": "Get full name given symbol",
       "serviceName": "getstock",
       "sqlStatement": "SELECT * FROM TRADING.STOCK_SYMBOLS WHERE SYMBOL = @SYMBOL",
       "version": "1.2"
}

In [ ]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_makerest), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [ ]:
if (response.status_code == 201):
  print("Service Created")
else:
  print(response.json()['errors'])

## Call the new RESTful Service
Now you can call the RESTful service. In this case we will pass the stock symbol CAT. But like in the previous example you can try rerunning the service call with different stock symbols.

In [ ]:
API_runrest = "/v1/services/getstock/1.0"

In [ ]:
body = {
  "parameters": {
    "@SYMBOL": "CAT"
  },
  "sync": True
}

In [ ]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_runrest), headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

A response of 200 indicates a successful service call.

In [ ]:
print(response)
print(response.json())

You can now retrieve the result set, convert it into a Dataframe and display the table.

In [ ]:
print(response.json())
display(pd.DataFrame(response.json()['resultSet']))

## Retreive Service Details
You can query each service to see its details, including authoritization, input parameters and output results.

In [ ]:
API_listrest = "/v1/services/getstock/1.0"

In [ ]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [ ]:
print(response.json())

In [ ]:
print("Service Details:")
print("Service Name: " + response.json()['serviceName'])
print("Service Version: " + response.json()['version'])
print("Service Description: " + response.json()['serviceDescription'])
print("Service Creator: " + response.json()['serviceCreator'])
print("Service Updater: " + response.json()['serviceUpdater'])


print('Users:')
display(pd.DataFrame(response.json()['grantees']['users']))
print('Groups:')
display(pd.DataFrame(response.json()['grantees']['groups']))
print('Roles:')
display(pd.DataFrame(response.json()['grantees']['roles']))

print('')
print('Input Parameters:')
display(pd.DataFrame(response.json()['inputParameters']))

print('Result Set Fields:')
display(pd.DataFrame(response.json()['resultSetFields']))

## List Available Services
You can also list all the user defined services you have access to

In [ ]:
API_listrest = "/v1/services"

In [ ]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [ ]:
print(response.json())

In [ ]:
display(pd.DataFrame(response.json()['Db2Services']))

## Delete a Service
A single call is also available to delete a service

In [ ]:
API_deleteService = "/v1/services"
Service = "/getstock"
Version = "/1.0"

In [ ]:
try:
    response = requests.delete("{}{}{}{}".format(Db2RESTful,API_deleteService,Service,Version), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [ ]:
print (response)

## Get Service Logs
You can easily download service logs. However you must be authorized as the principal administration user to do so.

In [ ]:
API_listrest = "/v1/logs"

In [ ]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [ ]:
if (response.status_code == 200):
  myFile = response.content
  open('/tmp/logs.zip', 'wb').write(myFile)
  print("Downloaded",len(myFile),"bytes.")
else:
  print(response.json())